<!DOCTYPE html>
<html lang="en-us" ng-app="checkersApp">
<head>
    <title>Checkers Online</title>
    <meta charset="UTF-8">

    <link type="text/css" rel="stylesheet" href="stylesheet.css"/>
</head>

<body>
    <div class="container">
        <div class="board" color-directive ng-controller="boardController">
            <div class="square" ng-repeat="square in squares track by $index" ng-click="select($index)">
            </div>
        </div>
    </div>

    <script src="https://code.angularjs.org/1.5.8/angular.min.js"></script>
    <script src="app.js"></script>
</body>
</html>