* {
     box-sizing: border-box;
}


.board {
  width: 406px;
  height: 406px;
  border: 3px solid teal;
  margin: 0 auto;
}

.square {
  height: 50px;
  width: 50px;
  display: inline-block;
  margin-bottom: -4px;
}

.black {
  background-color: black
}

.white {
  background-color: white
}

.red-piece {
  height: 50px;
  width: 50px;
  background-color: red;
  border-radius: 50px;
}

.blue-piece {
  height: 50px;
  width: 50px;
  background-color: blue;
  border-radius: 50px;
}

.highlight {
  background-color: grey;
}